@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@model OSky.UI.Dtos.Infos.LeaveDto

<body style=" background:#ffffff !important;">
    <form id="context-form" style=" margin-top:10px;">
        <input type="hidden" name="Id" value="@Model.Id" />
        <div class=" dashbard-1 form-horizontal ">
            <div class="bills-table" style="height:400px;">
                <div class="bills-head">请&nbsp;&nbsp; 假&nbsp;&nbsp;条</div>
                <div class=" main-content-left">
                    <div class="td-left">
                        <label class="form-label pull-left"><label class="cred">*</label>申请人：</label>
                        <input class="easyui-validatebox textbox" name="CreatorUserName" disabled="disabled" value="@Model.CreatorUserName">
                    </div>
                </div>
                <div class=" main-content-right">
                    <div class="td-right">
                        <label class="form-label pull-left"><label><label class="cred">*</label>请假类型：</label></label>
                        <select name="TypeVal" class="easyui-combobox" style=" width:42%;">@Model.TypeHtml</select>
                    </div>
                </div>
                <div class="main-content-left">
                    <div class="td-left input-daterange input-append date">
                        <label class="form-label pull-left"><label><label class="cred">*</label>开始时间：</label></label>
                        <input class="easyui-validatebox textbox" name="StartTime" value="@Model.StartTime.ToString("yyyy-MM-dd hh:mm")">
                    </div>
                </div>
                <div class="main-content-right">
                    <div class="td-right input-daterange input-append date">
                        <label class="form-label pull-left"><label><label class="cred">*</label>结束时间：</label></label>
                        <input class="easyui-validatebox textbox" name="EndTime" value="@Model.EndTime.ToString("yyyy-MM-dd hh:mm")">
                    </div>
                </div>
                <div class="bills-footer">
                    <div style="float:left;margin-top:10px; width:100%;padding-right:50%;">
                        <label class="form-label pull-left"><label>请假原因：</label></label>
                        <div style="width:70%; float:left;">
                            <input class="easyui-validatebox textbox" name="Reason" value="@Model.Reason" data-options="multiline:true;" />
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </form>

</body>

@section footer{
    <script type="text/javascript">
        $(function () {
            $('input[name="TypeVal"]').combobox('setValue', '@Model.TypeVal');
        })
    </script>
    }
