@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    string act = Request["act"];
}
@model OSky.UI.Dtos.Infos.LeaveDto

    <form id="context-form" style=" margin-top:10px;">
        <input type="hidden" name="Id" value="@Model.Id" />
        <input type="hidden" name="CreatorUserId" value="@Model.CreatorUserId" />
        <div class="bills-table" style="height: 400px; ">
                <div class="bills-head">请&nbsp;&nbsp; 假&nbsp;&nbsp;条</div>
                <div class=" main-content-left">
                    <div class="td-left">
                        <label class="form-label"><span style="color:red">*</span>申请人：</label>
                        <input class="textbox" name="CreatorUserName" readonly="readonly" value="@Model.CreatorUserName" style="cursor: not-allowed; background: #EEEEEE;">
                    </div>
                </div>
                <div class=" main-content-right">
                    <div class="td-right">
                        <label class="form-label"><span style="color:red">*</span>请假类型：</label>
                        <select name="TypeVal" class="combo" style=" width:190px;">@Html.Raw(Model.TypeHtml)</select>
                    </div>
                </div>
                <div class="main-content-left">
                    <div class="td-left">
                        <label class="form-label"><span style="color:red">*</span>开始时间：</label>
                        <input class="easyui-datetimebox" style=" width:190px;" id="StartTime" name="StartTime" value="@Model.StartTime" data-options="required:true,validType:'datetime'">
                    </div>
                </div>
                <div class="main-content-right">
                    <div class="td-right">
                        <label class="form-label"><span style="color:red">*</span>结束时间：</label>
                        <input class="easyui-datetimebox" style=" width:190px;" id="EndTime" name="EndTime" value="@Model.EndTime" data-options="required:true,validType:'datetime'">
                    </div>
                </div>
                <div class="bills-footer">
                    <div style="float:left;margin-top:10px;width:100%;">
                        <label class="form-label"><span style="color:red">*</span>请假原因：</label>
                        <div style="width: 30%; float: left;">
                            <input class="easyui-textbox" data-options="multiline:true,required:true,validType:'length[2,200]'" style="height:80px;width:350px" name="Reason" value="@Model.Reason" />
                        </div>
                    </div>
                </div>
            </div>
    </form>


@section footer{
    <script src="~/Scripts/jquery.validateRules.js"></script>
    <script type="text/javascript">
    $(function () {
        var typeval = '@Model.TypeVal';
        if (typeval != "")
            $('select[name="TypeVal"]').val(typeval);
        @*$('#StartTime').datetimebox('setValue', '@Model.StartTime');
        $('#EndTime').datetimebox('setValue', '@Model.EndTime');*@
        @*$('input[name="StartTime"]').val('@Model.StartTime');
        $('input[name="EndTime"]').val('@Model.EndTime');*@
    })

    //父窗体调用保存
    function Save(isAcc) {
        $('#context-form').form('submit', {
            url: "@act",
            onSubmit: function () {
                return $(this).form('validate');
            },
            success: function (d) {
                var data = eval("(" + d + ")");
                if (data.Type == "Success")
                    parent.Submit(isAcc, data.Data.EntityId, "请假单--@Model.CreatorUserName");
                else
                    alert(data.Content);
            }
        });

    }

</script>
    }
