@model OSky.UI.Dtos.Flow.FlowProjectDto 
@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div style="display:none">
    <input name="ItemId" value="@Model.ItemId">
    <input name="FlowId" value="@Model.FlowId">
    <input name="TaskId" value="@Model.TaskId">
    <input name="EntityId" value="@Model.EntityId">
</div>

  <!--操作 -->
@Html.Partial("ExecuteBar")

<!--表单 -->
<iframe id="ifrForm" style="width: 95%; height:480px; margin-left:2%; "frameborder="0" marginheight="0" marginwidth="0" src="@Url.Action(Model.FileUrl, new { id = Model.EntityId })"></iframe>

@section footer{
<script type="text/javascript">

    //流程操作
    $(function () {
        //浏览
        FlowExecute.Open();
    })

    var FlowExecute = {
        Open: function () {
            $.post('@Url.Action("Scan")', { TaskId: '@Model.TaskId' });
        },
        Save: function () {
            doSubmit(false);
        },
        Accept: function () {
            doSubmit(true);
        },
        Audit: function () {
            $.post('@Url.Action("ExecuteAudit")', { TaskId: '@Model.TaskId', FlowId: '@Model.FlowId', ItemId: '@Model.ItemId' }, ajaxResultHandler);
        },
        Sende: function () {
            $.OSky.layer.msg.open(2, "@Url.Action("ExecuteForm")?TaskId=@Model.TaskId&FlowId=@Model.FlowId&ItemId=@Model.ItemId", true,
                    function (index, layero) {
                        $(layero).form('submit', {
                            url: '@Url.Action("Execute")',
                            onSubmit: function(){    
                                return this.form('validate');
                            },    
                            success:function(data){    
                                ajaxResultHandler(data);
                            }    
                        });  
                    }, null, "发送下一步", "800px", "600px");
        },
        Complete: function () {
            $.post('@Url.Action("Completed")', { TaskId: '@Model.TaskId', FlowId: '@Model.FlowId' }, ajaxResultHandler);
        },
        Back: function () {
            $.OSky.layer.msg.open(2, "@Url.Action("FlowBack")?TaskId=@Model.TaskId&FlowId=@Model.FlowId", true,
                    function (index, layero) {
                        var nodes = $(layero).find("iframe")[0].serializeArray().serializeJson();
                        if (nodes.length == 0) {
                            $.OSky.layer.msg.tip("您没有做任何更改。");
                            return;
                        }
                        $.post("@Url.Action("Backed")", { "dtos": nodes }, function (data) {
                            ajaxResultHandler(data);
                        });
                    }, null, "退回处理", "800px", "600px");
        },
        CallBack: function () {
            $.post('@Url.Action("CallBack")', { TaskId: '@Model.TaskId' }, ajaxResultHandler);
        },
        OpenGroupTask: function () {
            $.OSky.layer.msg.open(2, "@Url.Action("ApprovalList")?ItemId=@Model.ItemId", false, null, null, "审批过程", "800px", "600px");
        }
    }

    //保存数据
    function doSubmit(isAcc) {
        var $form = $(window.frames["ifrForm"].contentDocument).find("#context-form");
        $form.form('submit', {
            url: "@Model.ActionUrl",
            onSubmit: function () {
                return $(this).form('validate');
            },
            success: function (data) {
                if (data.Type == "Success") {
                    if (isAcc)//是否提交受理
                        $.post('@Url.Action("StartFlow")', { FlowId: '@Model.FlowId', EntityId: data.Data.EntityId, Title: data.Data.Title }, ajaxResultHandler);
                    else
                        alert(data.Content);
                }
                else
                    alert(data.Content);
            }
        });
        @*if ($form.valid()) {
            //表单内容
            var param = $form.serializeArray().serializeJson();
            $.ajax({
                type: "POST",
                url: "@Model.ActionUrl",
                data: JSON.stringify(param),
                datatype: "json",
                contentType: "application/json",
                success: function (data) {
                    if (data.Type == "Success") {
                        if (isAcc)//是否提交受理
                            $.post('@Url.Action("StartFlow")', { FlowId: '@Model.FlowId', EntityId: data.Data.EntityId, Title: data.Data.Title }, ajaxResultHandler);
                        else
                            alert(data.Content);
                    }
                    else
                        alert(data.Content);
                }
            });

        }*@

    }

    function ajaxResultHandler(data) {
        if (data.Type == "Success") {
            $.OSky.layer.msg.tip(data.Content);
            document.location.href = '@Url.Action("Index", "Schedule", new { area = "Flow" })';
        }
        if (data.Type == "Error") {
            $.OSky.layer.msg.error(data.Content);
        } else {
            $.OSky.layer.msg.info(data.Content);
        }
    }
</script>
    }