@model OSky.UI.Dtos.Flow.FlowProjectDto 
@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div style="display:none">
    <input name="ItemId" value="@Model.ItemId">
    <input name="FlowId" value="@Model.FlowId">
    <input name="TaskId" value="@Model.TaskId">
    <input name="EntityId" value="@Model.EntityId">
</div>

  <!--操作 -->
@Html.Partial("ExecuteBar")

<!--表单 -->
<iframe id="ifrForm" style="width: 95%; height:480px; margin-left:2%; "frameborder="0" marginheight="0" marginwidth="0" src="@Url.Action(Model.FileUrl, new { Id = Model.EntityId,act=Model.ActionUrl })"></iframe>

@section footer{
<script type="text/javascript">

    //流程操作
    $(function () {
        //浏览
        FlowExecute.Open();
    })

    var FlowExecute = {
        Open: function () {
            $.post('@Url.Action("Scan")', { TaskId: '@Model.TaskId' });
        },
        Save: function () {
            doSubmit(false);
        },
        Accept: function () {
            doSubmit(true);
        },
        Audit: function () {
            $.post('@Url.Action("ExecuteAudit")', { TaskId: '@Model.TaskId', FlowId: '@Model.FlowId', ItemId: '@Model.ItemId' }, ajaxResultHandler);
        },
        Sende: function () {
            $.OSky.layer.msg.open(2, "@Url.Action("ExecuteForm")?TaskId=@Model.TaskId&FlowId=@Model.FlowId&ItemId=@Model.ItemId", true,
                    function (index, layero) {
                        window[layero.find('iframe')[0]['name']].Save();
                    }, null, "发送下一步", "450px", "570px");
        },
        Complete: function () {
            $.post('@Url.Action("Completed")', { TaskId: '@Model.TaskId', FlowId: '@Model.FlowId' }, ajaxResultHandler);
        },
        Back: function () {
            $.OSky.layer.msg.open(2, "@Url.Action("ExecuteBack")?TaskId=@Model.TaskId&FlowId=@Model.FlowId", true,
                function (index, layero) {
                    window[layero.find('iframe')[0]['name']].Save();
                }, null, "退回处理", "340px", "280px");
        },
        CallBack: function () {
            $.post('@Url.Action("CallBack")', { TaskId: '@Model.TaskId' }, ajaxResultHandler);
        },
        OpenGroupTask: function () {
                $.OSky.layer.msg.open(2, "@Url.Action("ApprovalList")?ItemId=@Model.ItemId", false, null, null, "审批过程", "750px", "550px");
        }
    }

    //保存数据
    function doSubmit(isAcc) {
        window.frames["ifrForm"].contentWindow.Save(isAcc);
    }
    //子窗体调用方法
    function Submit(isAcc, entityId, title) {
        if (isAcc)//是否提交受理
            $.post('@Url.Action("StartFlow")', { FlowId: '@Model.FlowId', EntityId: entityId, Title: title }, function (data) {
                if (data.Type == "Success") {
                    $.OSky.layer.msg.tip(data.Content);
                    window.parent.location.href = '@Url.Action("Index", "Schedule")';
                }else {
                    $.OSky.layer.msg.error(data.Content);
                }
            });
        else
            $.OSky.layer.msg.tip("更新成功！");
    }

    function ajaxResultHandler(data) {
        if (data.Type == "Success") {
            $.OSky.layer.msg.tip(data.Content);
            window.location.href = '@Url.Action("Index", "Schedule")';
        } else {
            $.OSky.layer.msg.error(data.Content);
        }
    }
</script>
    }