
@model OSky.UI.Dtos.Identity.OrganizationDto

<form id="form1" method="post">
    <input type="hidden" id="Id" name="Id" value="@Model.Id" />
    <input type="hidden" id="ParentId" name="ParentId" value="@Model.ParentId" />
    <table align="center">
        <tr>
            <td align="right"><label >父机构名:</label></td>
            <td><input type="text" name="ParentName" value="@Model.ParentName" class="easyui-validatebox textbox" readonly="readonly" style="width: 228px; cursor: not-allowed; background: #BCBCBC; " /></td>
        </tr>
        <tr>
            <td align="right"><label>机构名称:</label></td>
            <td><input type="text" name="Name" value="@Model.Name" class="easyui-validatebox textbox" data-options="required:true,validType:'length[2,10]'" style="width:228px" /></td>
        </tr>
        <tr>
            <td align="right"><label>排序号:</label></td>
            <td><input type="text" name="SortCode" value="@Model.SortCode" class="easyui-validatebox textbox" data-options="required:true,validType:'number'" style="width:228px" /></td>
        </tr>
        <tr>
            <td align ="right"><label>描 述:</label></td>
            <td><input type="text" name="Remark" value="@Model.Remark" class="easyui-textbox" data-options="multiline:true" style="height:60px;width:250px" /></td>
        </tr>
        <tr><td align="center" colspan="2"><input id="Add" type="button" class="btn btn-success" value="添加子级" onclick="Add_Click();">
                <input id="Edit" type="button" class="btn btn-warning" value="编 辑" onclick="Edit_Click();">
                <input id="Delete" type="button" class="btn btn-danger" value="删 除" onclick="Del_Click();"></td></tr>
    </table>
</form>


